// Media querys
$mediaquerys: (
  mobile: '(max-width: 480px)',
  phablet: '(min-width: 640px)',
  tablet: '(min-width: 960px)', // Changed from (max-width: 959px)
  desktop: '(min-width: 1440px)', // Changed from (min-width: 960px)
  xl-desktop: '(min-width: 1921px)',

  print: '(max-width: print)',
  portrait: '(oriantation: portrait)',
  landscape: '(orientation: landscape)'
);