$nav-height: 5rem;
$default-font: 'Montserrat', sans-serif;
$p-font: $default-font;
$h-font: 'Dancing Script', cursive;
$code-font: monospace;
$button-font: $default-font;

$font-color: #eee;
$heading-color: $font-color;
$link-color: #3742fa;

$l-height: 1.5em;