@import '../tools';

.app {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  grid-template-rows: 4rem min-content auto;
  grid-template-areas: 
  "navigation logo"
  "router-view router-view"
  "audio-player audio-player"
  ;
  @include respond (tablet) {
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
    "logo router-view"
    "navigation router-view"
    "audio-player router-view"
    ". router-view";
  }
  @include respond (desktop) {
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: 
    "logo router-view ."
    "navigation router-view audio-player"
    ". router-view ."
    ". router-view .";
  }
  @include respond (xl-desktop) {
    grid-template-columns: 2fr 4fr 2fr;
  }
}

.logo {
  grid-area: logo;
}

.router-view {
  grid-area: router-view;
}

.navigation {
  grid-area: navigation;
}

.audio-player {
  grid-area: audio-player;
}