.tag-list {
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  flex-wrap: wrap;
  // justify-content: center;
  // justify-content: center;
  li {
    font-size: 0.75rem;
    background: #9992;
    border: 1px solid #eee9;
    border-radius: 2rem;
    margin: 0.25rem;
    padding: 0 0.75rem;
    height: min-content;
    transition: 0.25s ease-in-out;
    &:hover {
      box-shadow: inset 0 0 0.75rem rgba(255, 234, 252, 0.3);
    }
  }
}

.filter-list {
  @extend .tag-list;
  margin: 0 1rem;
  
  span {
    display: inline-block;
    line-height: 1.5rem;
    padding: 0 0 0 0.5rem;
    border-left: 1px solid #eee9;
  }
}